@import url('https://fonts.googleapis.com/css?family=Pangolin');

.App {
  text-align: center;
}
.App-header {
  font-family: 'Pangolin', cursive;
  background-color: #00B852;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(35px + 2vmin);
  color: black;
}

.App-Button {
  font-family: 'Pangolin', cursive;
}
