.header {
	width: 90%;
	background-color: #43a047;
	height: 9em;
	margin-left: 5%;
	overflow: auto;
	margin-top: 2em;
	position: relative;
}

img {
	height: 85%;
	float: left;
	margin: 1%;
}

#intellichoice-logo {
	height: 76%;
}

#correctness-pie-chart {
	width: 100%;
	object-fit: contain;
}

.profile-button {
	bottom: 0;
	float: right;
}

.left-box {
	margin-top: 2em;
	border-style: solid;
	box-sizing: border-box;
	width: 30%;
	height: 40em;
	float: left;
	margin-left: 5%;
	border-radius: 1em;
}

.quiz-box {
	float: left;
	width: 58%;
	border-style: solid;
	box-sizing: border-box;
	height: 10em;
	margin-top: 2em;
	margin-left: 2%;
	border-radius: 1em;
	border-width: 1px;
}

.quiz-box:hover {
	background-color: lightgray;
}

.small-header {
	float: left;
	background-color: #43a047;
	text-align: center;
	width: 58%;
	box-sizing: border-box;
	height: 5em;
	margin-top: 2em;
	margin-left: 2%;
	border-radius: 1em;
}

.small-header-left {
	float: left;
	background-color: #43a047;
	text-align: center;
	width: 30%;
	box-sizing: border-box;
	height: 5em;
	margin-top: 2em;
	margin-left: 5%;
	border-radius: 1em;
}

.achievement-box {
	float: left;
	width: 30%;
	border-style: solid;
	box-sizing: border-box;
	height: 46em;
	margin-top: 2em;
	margin-left: 5%;
	border-radius: 1em;
}