#intellichoice-logo-div {
	background-color: #43a047;
	float: left;
	height: 9em;
	overflow: auto;
	position: relative;	
	width: 50%;
}

#intellichoice-logo {
	height: 75%;
	margin: 2%;
	object-fit: contain;	
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
	position: relative;
    background-color: #43a047;
}

li {
    float: right;
}

li a {
	text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
}

li a:hover {
    background-color: #006400;
    text-decoration: none;
}

#achievement-header {
	float: left;
	background-color: #43a047;
	text-align: center;
	width: 20%;
	box-sizing: border-box;
	height: 5em;
	margin-top: 2em;
	margin-left: 15%;
	border-radius: 1em;
}

#achievement-header h2 {
	color: white;
	padding-top: 0.5em;
}

#quiz-list-header {
	float: left;
	background-color: #43a047;
	text-align: center;
	width: 48%;
	box-sizing: border-box;
	height: 5em;
	margin-top: 2em;
	margin-left: 1%;
	border-radius: 1em;
}

#quiz-list-header h2 {
	color: white;
	padding-top: 0.5em;
}

#achievement-box {
	float: left;
	width: 20%;
	border-style: solid;
	border-width: 2px;
	border-color: #c1c0c0;
	box-sizing: border-box;
	height: 35em;
	margin-top: 1em;
	margin-left: 15%;
	border-radius: 1em;
}

#correctness-pie-chart {
	width: 100%;
	object-fit: contain;
}

.quiz-box {
	float: left;
	width: 48%;
	border-style: solid;
	box-sizing: border-box;
	height: 8em;
	margin-top: 1em;
	margin-left: 1%;
	border-radius: 1em;
	border-width: 2px;
	border-color: #c1c0c0;
	cursor: pointer;
}

.quiz-box-img {
	height: 80%;
	float: left;
	margin: 1%;
}

.quiz-box h3 {
	padding-top: 0.3em;
}

.quiz-box:hover {
	background-color: lightgray;
}