.SubjectBox{
    float:left;
    width:27.5%;
    margin-top:100px;
    margin-left:2.916667%;
    margin-right:2.916667%;
    padding: 20px;
    height: 200px;
}

.text{
    font-size:1.5vw;
    color:white;
    text-align:center;
}   

.symbol{
    font-size:30px;
    color:white;
    text-align:center;
}